
.emacs.desktop*
.ido.last
ido.last
.smex-items
elpa/
eproject.lst
ac-comphist.dat
places
swank/
url/
/abbrev_defs
/.mc-lists.el
tramp
projectile.cache
/zubchick/*_secret.el
/projectile-bookmarks.eld
*.elc
/bookmarks
request/
/snippets/python-mode/.yas-compiled-snippets.el
/TAGS
/backups/
/auto-save-list/
recentf
